/* src/components/Navbar/Navbar.css */
.navbar {
  padding: 1.2rem 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.brand-and-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-toggler-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 11;
}

.navbar-collapse {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black-color);
  padding-top: 5rem;
  transition: var(--transition);
}

.show-navbar-collapse {
  display: flex;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-item {
  margin-bottom: 1.4rem;
}

.nav-link {
  transition: var(--transition);
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem 0;
}

.nav-link:hover, .nav-link.active {
  color: var(--purple-color);
  border-bottom: 2px solid var(--purple-color);
}

.logout-btn {
  background-color: var(--purple-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: var(--white-color);
  cursor: pointer;
  transition: var(--transition);
}

.logout-btn:hover {
  background-color: var(--dark-purple-color);
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    width: auto;
    padding-top: 0;
    background-color: transparent;
  }

  .navbar-toggler-btn {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-item {
    margin: 0 1rem;
  }

  .nav-link {
    color: var(--black-color);
    font-size: 2rem;
    font-weight: 500;
  }

  .nav-link:hover, .nav-link.active {
    color: var(--purple-color);
    border-bottom: 2px solid var(--purple-color);
  }

  .search-form {
    margin: 0 1rem;
  }

  .logout-btn {
    margin-left: 1rem;
  }
}
